// 사이트 레이아웃 관련 요소
.bg-gray {
  background-color: $gray-5;
}

// grid layout
.inner {
  position: relative;
  width: 100%;
  max-width: $grid;
  margin: 0 auto;
  padding: 0 $p-mobile;
  @include tablet {
    padding: 0 $p-tablet;
  }
}

// section layout
.sec-g {
  padding: 10vw 0;
  &__tit {
    padding-bottom: 2.34375vw;
    font-size: 4.8rem;
  }
  &__more {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 17px;
    right: 30px;
    font-size: 2rem;
    &::after {
      content: "\f061";
      font-family: "Line Awesome Free";
      font-weight: 900;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background: $gray-20;
      border-radius: 50%;
    }
  }
}
